.block-text {
	background-color: #828282;
}

.block-text__wrapper {
	padding: 12vh 5vw 5vw;
	display: flex;
	justify-content: center;
	height: 100%;
}

.block-text__text {
	color: white;
	font-weight: 300;
	font-size: calc(1920px*18/1280); /* calc(текущая ширина экрана * размер шрифта в макете * ширина макета). Для "резинового" текста поставить 5vw (P.s. не зумится) */
	margin: 0;
}


/* Адаптив */

@media (max-width:1536px) {
	.block-text__text {
		font-size: calc(1536px*18/1280);
	}
}

@media (max-width:1200px) {
	.block-text__text {
		font-size: calc(1200px*18/1280);
	}
}

@media (max-width:992px) {
	.block-text__text {
		font-size: calc(992px*18/1280);
	}

	.block-text__wrapper {
		padding-top: 8vh;
	}
}

@media (max-width:768px) {
	.block-text__text {
		font-size: calc(768px*18/1280);
	}
}

@media (max-width:480px) {
	.block-text__text {
		font-size: calc(480px*18/1280);
	}
}

@media (orientation: portrait) and (max-width:992px) {
	.block-text__text {
		font-size: calc(992px*18/1280*2);
	}

	.block-text__wrapper {
		padding-top: 8vw;
	}
}

@media (orientation: portrait) and (max-width:768px) {
	.block-text__text {
		font-size: calc(768px*18/1280*2);
	}
}

@media(orientation: portrait) and (max-width:560px) {
	.block-text__text {
		font-size: calc(560px*18/1280*2);
	}
}

@media(orientation: portrait) and (max-width:480px) {
	.block-text__text {
		font-size: calc(480px*18/1280*2);
	}
}

@media(orientation: portrait) and (max-width:360px) {
	.block-text__text {
		font-size: calc(360px*18/1280*2);
	}
}
